<div class="categories-main custom-slider">
    {% if section.settings.title != blank %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-xs-12 categories-heading">
         <h3>{{ section.settings.title }}</h3>
            <p>{{ section.settings.textarea1 }}</p>
        </div>
      </div>
    </div>  
{% endif %}
    <div class="row ">  
        <div class="blocks_cate_main {% if section.settings.section_layout == "slider" %} custom_colleciton_slider {% endif %}">
        {%- for block in section.blocks %}
        {% if block.type == "collection_block" %}
        <div class="collection_blocks">
            <a class="img-link" href="{{ block.settings.button_link }}"> 
            <img src=" {{ block.settings.imgs2 | img_url: '200X' }}" />
            </a> 
        </div>  
        {% endif %}  
        {%- endfor -%}
        </div> 
    </div>   
</div>

{% schema %} 
{
  "name": "Custom slider",
  "class": "index-section",
  "settings": [ 
    {
      "type": "text",
      "id": "title",
      "label":"title"
    },
    {
      "type": "textarea",
      "id": "textarea1",
      "label": "Heading",
      "default": "description"
    },  
        
    {
      "type": "checkbox",
      "id": "show_text_over_image",
      "label": "Text over image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_number_products",
      "label":"Show number of products",
      "default": true
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "label": "Grid",
          "value": "grid"
        },
        {
          "label":"Slider",
          "value": "slider"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Image alignment",
      "default": "center center",
      "options": [
        {
          "label": "Top Left",
          "value": "top left"
        },
        {
          "label": "top center",
          "value": "top center"
        },
        {
          "label":"top right",
          "value": "top right"
        },
        {
          "label": "center left",
          "value": "center left"
        },
        {
          "label": "center center",
          "value": "center center"
        },
        {
          "label": "center right",
          "value": "center right"
        },
        {
          "label": "bottom left",
          "value": "bottom left"
        },
        {
          "label": "bottom center",
          "value": "bottom center"
        },
        {
          "label":"bottom right",
          "value": "bottom right"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "bottom right",
      "default": "#f9f9f9"
    }
  ],
  "blocks": [
    {
      "type": "collection_block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "imgs2",
          "label": "image"
        }, 
        {
            "type": "url",
            "id": "button_link",
            "label": "Image link"  
        }
      ]
    }
  ],
    "presets": [
    {
      "name":"Custom slider",
      "category": "Custom slider"
    }
  ]
}
{% endschema %}
