<div class="Containers blockslide4 text-end w100 size-l size-s-mobile dont-move" >
    <div class="maindivv productslider1">
        {% for block in section.blocks %}
            <div class="block-1">
                <div  class="image-box1 ">
                    <div class="blockslide">
                        <img src="{{ block.settings.imageurl |img_url: '800x'}}">
                    </div>
                    <div class="slidebtn">
                        <h2>{{ block.settings.btntext }}</h2>  
                        <p>{{ block.settings.btndescription }}</p>  
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
  {% schema %}
  {
    "name": "Icon With text",
    "class":"IconWith_text l4ft fullwidth  dont-move",
    "settings": [
    ],
      "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
         {
      "type": "image_picker",
      "id": "imageurl",
      "label": "Image",
      "info": "1200 x 1200px .png recommended"
    },
       {
      "type": "text",
      "id": "btntext",
      "label": "Categorie Text"
    },
    {
        "type": "text",
        "id": "btndescription",
        "label": "Categorie Description"
    }
      ]
    }
  ],
  "presets": [
    {
     "name": "Icon With text"
    }
  ]
  }
  {% endschema %}
  {% stylesheet %}
  .IconWith_text {
    background: #000;
  }
    .blockslide4text {
        display: flex;
        justify-content: space-between;
    }
    .Containers.logoblock {
        padding: 3% 0 ;
    }
    .image-box1{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .blockslide img{
        width: 100%;
        margin: auto;
    } 
    .maindivv.productslider1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
   .blockslide4 .block-1 {
       width: calc(33% - 16px);
        -webkit-flex-basis: calc(33.33% - 16px);
        flex-basis: calc(33% - 16px);
        padding: 1% 1%;
    
    }
    .slidebtn h2{
        font-size: 14px;
        font-weight: 400;
        font-family: Bitter , serif;
        line-height: 1.8;
        font-style: normal;
        margin-bottom:0;
        color:#fff; 
        text-align:center;
    }
    .Containers.blockslide4 {
        max-width: 1200px;
        margin: 0 auto;
    }
    @media only screen and (max-width: 760px) {
        .blockslide4 .block-1 {
            width: calc(50% - 16px);
            flex-basis: calc(50% - 16px);
            padding: 0 1%;
        }
        .IconWith_text{
            margin-right: -16px !important; 
        }
    }
{% endstylesheet %}