<div class="max-containers bg-white">
    <h2 class="bloghead">{{ section.settings.blogid}}</h2>
  <div class="blogflex">
    {% for block in section.blocks %}
        
             
        <div  class="blogbodr">
        <a href="{{ block.settings.anniversarylink }}">{{ block.settings.anniversaryname }}</a>
        </div>
      {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "select_anniversary",
    "settings": [
      {
       "type":"text",
      "id":"blogid",
      "label":"Heading"
      }
    ],
       "blocks": [
      {
    "type": "Blog",
    "name": "Blog",
    "settings": [
           
          {
          "type": "url",
          "id": "anniversarylink",
          "label": "see more link"
        },
          {
        "type": "text",
        "id": "anniversaryname",
        "label": "button"
        }
        
      ]
    }
  ],
    "presets": [
      {
        "name": "select"
        
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  h2.bloghead {
    font-family: Bitter,serif;
    text-transform: none;
    font-weight: var(--main_fw_h);
    font-style: normal;
    --main_fw_strong: var(--main_fw_h_strong);
    letter-spacing: -.04em;
    text-align: center;
}

  .blogflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10%;
}
.blogbodr {
  border: 1px solid #d43342;
  margin: 10px;
  border-radius: 20px;
  min-width: 170px!important;
  max-width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.blogbodr:hover a ,.blogbodr a:hover{
  
  color:#fff;
}
  .blogbodr a{
  
    border-radius: 40px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    color: #d43342;
    text-decoration: none;
    font-weight: 700;

  }
 


    @media screen and (max-width: 760px) {
       .blogflex{
        padding:0 0%
       }
    }
    
{% endstylesheet %}

{% javascript %}
{% endjavascript %}