.accordion summary {
    display: flex;
    position: relative;
    line-height: 1;
    padding: 1.5rem 0;
  }
  
  .accordion .summary__title {
    display: flex;
    flex: 1;
  }
  .product__accordion.accordion.clsaccordian{
    border-top: 1px solid #2c2c2c;
  }
  summary .icon-caret {
    position: absolute;
    height: 0.6rem;
    right: 1.5rem;
    top: calc(50% - 0.2rem);
}
  .accordion .summary__title + .icon-caret {
    height: calc(var(0.1) * 0.6rem);
  }
  
  .accordion + .accordion {
    margin-top: 0;
    /* border-top: none; */
  }
  
  .accordion {
    margin-top: 2.5rem;
    margin-bottom: 0;
    border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }
  
  .accordion__title {
    display: inline-block;
    max-width: calc(100% - 6rem);
    min-height: 1.6rem;
    margin: 0;
    word-break: break-word;
    font-size: 18px;
  }
  
  .accordion .icon-accordion {
    align-self: center;
    fill: rgb(var(--color-foreground));
    height: calc(var(--font-heading-scale) * 2rem);
    margin-right: calc(var(--font-heading-scale) * 1rem);
    width: calc(var(--font-heading-scale) * 2rem);
  }
  
  .accordion details[open] > summary .icon-caret {
    transform: rotate(180deg);
  }
  
  .accordion__content {
    margin-bottom: 1.5rem;
    word-break: break-word;
    overflow-x: auto;
    padding: 0 0.6rem;
  }
  
  .accordion__content img {
    max-width: 100%;
  }
  

  
.accordion-container{
    position: relative;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
  }
  .accordion-container > h2{
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
  .set{
    position: relative;
    width: 100%;
    height: auto;
  }
  .set > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    /* border-bottom: 1px solid #ddd; */
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }
  .set > a i{
    float: right;
    margin-top: 2px;
  }
  .set > a.active{
    /* background-color:#3399cc; */
    /* color: #fff; */
  }
  .content{
    /* background-color: #fff; */
    /* border-bottom: 1px solid #ddd; */
    display:none;
  }
  .content p{
    padding: 10px 15px;
    margin: 0;
    color: #333;
  }